* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

.container-section-main{
  width: 100%;
  background-color: rgb(76, 206, 11);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows:repeat(9, 500px);
}

.container-section{
  grid-column: 1/ span 2;
  border: 2px solid black;
  background: white;
}





