@import "variables.scss";
//BREAKPOINTS MOBILE FIRST

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  figure .page_images{
    width: $imageNewWidthIpad;
    height: $imageNewHeightIpad;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  #header_container{
    padding: 0 1rem 0 1rem;
    margin: 6rem 0 5rem 0;
    height: 50vh;
    display: grid;
    grid: 100px auto 100px / repeat(2, 50%);
    grid-template-areas:
      "text image";
     .header_container_text{
       display: flex;
       justify-content: space-around;
    }
    .header_main_img{
      grid-area: image;
    }
    .header_container_text{
      grid-area: text;
    }
  }

  .article_left{
    margin:0 auto;
    height: 50vh;
    display: grid;
    grid: 100px auto 100px / repeat(2, 50%);
    grid-template-areas:
      "text image";
    .text_container{
      grid-area: text;
    }
    .img_container{
      grid-area: image;
    }
  }

  .article_right{
    margin:0 auto;
    height: 50vh;
    display: grid;
    grid: 100px auto 100px / repeat(2, 50%);
    grid-template-areas:
      "image text";
    .img_container{
      grid-area: image;
    }
    .text_container{
      grid-area:text;
    }
  }
}
