//Page colors
$headerColor: #282A36;
$secondHeaderContainer :#f4f7fc;
$footerMainColor: black;
$footerParaphColor: white;

//All images width and height
$imageWidth: 288px;
$imageHeight: 190px;

//images spaces
$imagePadding: 1rem;

//font styles
$primaryFontFamily: Roboto;
$secondaryFontFamily: sans-serif;
