//Page colors
$headerColor: #282A36;
$secondHeaderContainer :#f4f7fc;
$footerMainColor: black;
$footerParaphColor: white;

//375 image sizes
$imageWidth: 288px;
$imageHeight: 190px;

//768 image sizes
$imageNewWidthIpad: 536px;
$imageNewHeightIpad: 354px;

//images spaces
$imagePadding: 1rem;

//font styles
$primaryFontFamily: Roboto;
$secondaryFontFamily: sans-serif;
