@import "../modules/variables";
@import "../modules/breakpoints";
@import "../modules/mixins";

.header-container {
    margin-top: 100px;
    margin-bottom: 100px;

    @include viewport-medium {
        text-align: center;
        padding: 50px 120px;
        margin: 100px auto;
    }

    &__hero {
        display: grid;
        gap: 30px;

        @include viewport-large {
            text-align: center;
            grid-template-columns: repeat(2, 1fr);
        }

        &__home {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            align-items: left;

            @include viewport-medium {
                align-items: center;
            }

            &__icon-title {
                display: flex;
                flex-direction: row;
                /* justify-content: left; */

                ion-icon {
                    position: relative;
                    width: 42px;
                    margin-right: 15px;
                    top: 7px;
                    font-size: 40px;
                }
            }

            h1 {
                font-family: $title-font;
                font-size: 40px;
                font-weight: 600;
            }

            p {
                margin: 10px;
                font-family: $title-font;
                font-size: 25px;
                font-weight: 300;
            }

        }

    }
}
