@import "../modules/variables";
@import "../modules/breakpoints";
@import "../modules/mixins";


.main-container {
    margin: 0;
    padding: 0;

    &__use-container {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: $background;
        text-align: center;

        @include viewport-large {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        &__first-section {

            @include viewport-large {
                width: 45%;
            }

            h2 {
                font-size: 36px;
                margin-bottom: 18px;
            }

            p {
                font-size: 16px;
                line-height: 1.6em;
            }

            &__light-container {
                @extend %light-container;

                &__link-a {
                    @extend %link-a;
                }
            }
        }

    }

    &__opt-container {
        margin: 0;
        padding-top: 100px;
        padding-bottom: 100px;

        /* display: flex;
        flex-direction: column;
        justify-content: center; */


        &__article-container {
            padding-top: 100px;
            padding-bottom: 100px;
            display: grid;
            place-items: center;

            @include viewport-large {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: "text image";
                place-items: center;

                padding: 100px 50px;

                &:nth-child(even) {
                    .main-container__opt-container__article-container__image {
                        grid-area: text;
                    }
                }

            }

            &__info {
                text-align: left;
                padding: 0 16px;

                h2 {
                    margin-bottom: 18px;
                }

                p {
                    font-size: 16px;
                    line-height: 1.6em;
                }

                &__dark-container {
                    @extend %dark-container;

                    a {
                        @extend %link-a;
                    }

                    code {
                        color: $colorDark;
                    }
                }
            }


            &__image {

                padding: 1rem;

                @include viewport-medium {
                    width: 70%;
                }

                @include viewport-large {
                    width: 80%;
                    padding: 0;
                }
            }
        }
    }
}


.footer-section {
    width: 100%;
    height: 24rem;
    background-color: $colorDark;
    padding: 100px 0;
    margin-top: 100px;

    &__text {
        text-align: center;
        padding: 30px 50px;
        color: $colorLight;
    }

}